{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h2>Welcome to the Website!</h2>
    <div class='container' style=" display:flex;"> 
	<div class='side_container' style="height:500px; background-color:aqua; color:blue; width:30%; border-right:3px solid blue;"> </div>
	<div class='main_container'   style="height:500px; background-color:aqua; color:blue; width:70%"> </div>
    </div> 
    <button style="hight:100px; width:109px; background-color:gold"> clothe</button>
{% endblock %}
